<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Home</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/patients">Patients</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
<div>
    <h1>Welcome to Dentistio</h1>
    <p>Your go-to place for dental care.</p>
</div>
</body>
</html>
